.drawing-shapes{
    position: relative;
    display: flex;
    flex-direction: column;
}

.app{
    display: flex;
    flex-direction: row;
}

.drawing-shapes__list{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.shape{
    background-color: rgb(190, 190, 211);
    text-align: center;
    width: 200px;
}
#circle{
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: black;
}

#rect{
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: black;
}

.drawing-shapes__btn{
    background-color: rgb(233, 233, 255);
    width: 200px;
    text-align: center;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-container{
    width: 200px;
    height: 600px;
    background-color: gray;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#submit-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 160);
    color: white;
    width: 100%;
    text-align: center;
}

#undo-btn{
    position: relative;
    margin: auto auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(155, 196, 155);
    border-radius: 50%;
}

#colision-container{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    font-size: 15px;
    text-align: center;

}
.colision-container__text-div{
    background-color: rgb(172, 172, 172);
    height: 20px;
    width: 70px;
    margin: auto auto auto auto;

}
#colision-container__on-of-btn{
    width: 30px;
    background-color: red;
    text-align: center;
    margin: auto auto auto auto;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(80, 0, 0);
}

#info-btn{
    position: relative;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(155, 196, 155);
    border-radius: 50%;
}

#picUploadBtn{
    margin: 0% auto;
    width: 100px;
    background-color: rgb(68, 61, 61);
    text-align: center;
}

#canvas-element{
    width: 0;
    border-width: 3px;
    border-color: black;
    border-width: 0px;
    border-style: solid;
}
#input-container{
    width: 700px;
    height: 600px;
}